
#article {
  padding: 15px 30px;
  line-height: 1.4em;
}
#article p {
  margin: 0 0 1em 0;
}


.lower_tabs.ui-tabs {
  border: 0;
  padding: 0;
  height: 250px;
  position: relative;
}

.lower_tabs .ui-tabs-nav {
  -moz-border-radius: 0;
  padding: 0 5px !important;
  background: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body .lower_tabs.ui-tabs .ui-tabs-nav li {
  border: 1px solid #888 !important;
  border-top-width: 0 !important;
  top: 0;
  font-size: 14px;
  font-weight: bold !important;
  background: #aaa !important;
  margin-bottom: 5px;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomleft: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.lower_tabs li a {
  color: white !important;
  padding: 0 8px !important;
  height: 24px;
  line-height: 24px;
}
.lower_tabs li.ui-tabs-selected {
  padding: 1px 0 0 0 !important;
  margin-bottom: 4px !important
}
.lower_tabs li.ui-tabs-selected a {
  background: url(images/bg.shiny.green.png) left center;
}
.lower_tabs li a img {
  margin: 0px 5px 0 0;
  vertical-align: text-top;
}



.panel {
 background: #eee;
 height: 100px;
 margin-bottom: 5px;
}

.panel_tabs.ui-tabs {
  margin: 0 !important;
  padding: 0;
  border: 0;
}
.panel_tabs .ui-tabs-nav {
  background: #eee;
  padding: 0 !important;
  margin: 0 !important;
}
.panel_tabs .ui-tabs-panel {
  padding: 0 !important;
}
.panel_tabs .draggable_tab {
  border: 0 !important;
  top: 0 !important;
}

.panel_tabs .draggable_tab a {
  background: #999;
  padding: 0 0 0 5px !important;
  color: white !important;
  font-weight: bold;
  padding: 3px 10px !important;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: trebuchet ms;
  position: relative;
  cursor: move;
}
.panel_tabs .draggable_tab.ui-state-active a {
  background: url(images/bg.shiny.green.png) left center;
}

/*.zpanel_header {
  background: url(images/bg.shiny.green.png) left center;
  height: 21px;
  line-height: 21px;
  color: white;
  font-weight: bold;
  padding: 0 0 0 5px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: trebuchet ms;
  position: relative;
  cursor: move;
}
.zpanel-header .minimize {
  position: absolute;
  right: 2px;
  top: 2px;
}

.zpanel .body {
  height: 100px; 
  padding: 5px 10px;
}

.ztab_panel {
  width: 200px;
  background-color: #eee;
}
.ztab_panel_header {
  width: 80px;
  display: block;
  border: 1px solid blue;
}
*/

.histogram .ui-widget-header {
  left: 90px;
}

.ui-layout-pane-center {
  overflow: hidden;
}
.ui-layout-pane-north {
  border: 0 !important;
  padding: 0 !important;
}
.ui-layout-pane-south {
  border-width: 1px 0 0 0;
}
#toolbar {
  background: #eee;
  height: 35px;
}
#toolbar .title {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
}
#toolbar .r {
  margin: 0 10px 0 0;
  line-height: 35px;
}
#toolbar .r img {
  margin-top: 5px;
}

body {
  background-color: #eee !important;
}
.ui-layout-pane-north {
  -moz-box-shadow: 0 0 0 !important;
}
.ui-layout-pane {
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.f1-holder {
  -moz-box-shadow: 0 0 0 !important;
  background: transparent;
  border: 0;
}

.fake_map {
  background: url(images/fake_map.png);
  width: 2370px; height: 1725px;
}

.f1-layout-east {
  overflow: auto !important;
}

.ui-layout-resizer {
  background: none;
}
/*.ui-layout-resizer-west, 
.ui-layout-resizer-east {
  background: url(images/bg.layout.vertical.png) top left;
}*/


/* __________________________( Patterns )_ */
.fl_r {overflow: auto; height: 1%;}  /* float left/right */
.fl_r .l, .fl_r .ll { float: left; display: inline;}
.fl_r .r, .fl_r .rr { float: right; display: inline;}

.al_r {position: relative;}
.al_r .l, .al_r .ll {position: absolute; top: 0; left: 0;}
.al_r .r, .al_r .rr {position: absolute; top: 0; right: 0;}

/* wide-thin thin-wide variations */
.f_f .l, .f_f .r {width: 50%;}
.w_t .l, .t_w .r  {width: 60%;}
.w_t .r, .t_w .l  {width: 40%;}

.hoverlinks a {text-decoration: none;}
.hoverlinks a:hover {text-decoration: underline;}

.flippy {
  background: url(images/bg.flippy_header.png) top left;
  height: 44px;
  padding: 0px 0 0 10px;
}
.flippy span {
  padding: 5px 0;
  display: block;
  background: url(images/bg.flippy_header.png) top right;

}
.flippy a {
  display: block;
  height: 26px;
  background: url(images/b.flippy_arrow.png) no-repeat;
  padding: 8px 0 0 40px;
}
.flippy .on {
  background: url(images/b.flippy_arrow.png) bottom left no-repeat;
}

.f1-button {
  outline: 0;
  padding: .4em 1em; 
  text-decoration:none !important; 
  cursor:pointer; 
  position: relative; 
  text-align: center; 
}


/*_________________________( master header )_ */
#header_master {
  height: 49px;
  min-width: 870px;
  background-image: url(images/mhbg.gif);
  background-repeat: repeat-x;
  padding: 0 0px 0 0px;
  color: #ccc;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
}
#header_master .l {
  z-index: 1;
  width: 230px;
}
#header_master .r {
  width: 550px;
  height: 48px;
}
#header_master a {
    color: #b3d4e4;
    text-decoration: none;
}
#mhlogo {
  margin: 0 0 0 10px;
  float: left;
}
.mhimg {vertical-align: middle;}

#mh_info {
  width: 100%;
  margin: 0px 180px 0 0;
  color: #b3d4e4;
}

/* ---- Header Search */
#mh_search {
  height: 35px;
  width: 150px;
  padding: 13px 10px 0 0px;
}
.mh_find_icon {vertical-align: middle;}
#mh_search input.nice {
  border: 1px solid #004168;
  background: #b3d2e6;
  width: 124px;
  -moz-border-radius: 2px;
}


/* ---- Navigation */
.mh_userlinks {
  margin: 13px 0 0 0;
}

.mh_signin_links {
  margin: 19px 0 0 0;
}

#header_master .b_upload_data {
  background: url(images/h.upload_data.png);
  height: 26px;
  width: 105px;
  float: right;
}


#header_master .b_make_map {
  background: url(images/h.make_map.png);
  height: 26px;
  width: 105px;
  float: right;
  margin: 0 0 0 6px;
}

.mh_dd.on, .mh_dd:hover {
  background-position: bottom right !important;
}

.mh_dd.on span, .mh_dd:hover span {
  background-position: bottom left !important;
}

.mh_dd {
  display: block;
  height: 26px;
  float: right;
  background: url(images/h.dark_button.dropdown.png) top right no-repeat;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  padding: 0 18px 0 0;
  color: white !important;
  position: relative;
  margin: 0 0px 0 2px
}
.mh_dd span {
  background: url(images/h.dark_button.left.png);
  display: block;
  height: 20px;
  padding: 6px 5px 0 24px;
}
.mh_dd img {
  position: absolute;
  left: 4px; top: 4px;
}

.dataset_actions {
  background: url(images/bg.dataset.action.png) no-repeat;
  padding-top: 8px;
  width: 182px;
  margin: 0 0 1em 0;
}
.dataset_actions ul {
  background: url(images/bg.dataset.action.png) bottom;
  padding: 0 8px 2px 8px;
  width: 166px;
}
.dataset_actions .reason {
  font-size: 0.9em;
  text-align: center;
  color: #5c6b72;
}
.make_map {
  background: url(images/b.map_data.png);
  width: 182px;
  height: 37px;
  margin-bottom: 5px;
}

.analyze_data {
  background: url(images/b.analyze_data.png);
  width: 182px;
  height: 37px;
  margin-bottom: 8px;
}

.run_analysis {
	background: url(images/b.run.analysis.png);
	width: 182px;
	height: 59px;
}

.import_button {
	background: url(images/import.png) repeat scroll 0 0;
	height: 18px;
	width: 55px;
}

/* ---- User Menu */
#user_menu {
  display: block;
  position: absolute;
  z-index: 20000;
  top: 39px;
  width: 111px;
  text-align: left;
  background: url(images/bg.dark_menu.bottom.png) bottom left;
  padding: 0 0 3px 0;
}
.user_menu_2 {
  background: url(images/bg.dark_menu.top.png) top left;
  padding: 3px 0;
}
#user_menu li {
  display: block;
  font-size: 12px;
}
#user_menu li a {
  text-decoration: none;
  display: block;
  padding: 5px 9px 5px 9px;
  color: white !important;
}
#user_menu li a:hover {
  background-color: #00405f;
}



/*_________________________( notices )_ */
#notice, .notice {
  border: 1px solid #ccc;
  padding: 6px 8px 6px 43px; margin: 0 0 8px 0;
  background: #ffd url(images/bg.notice.gif) no-repeat 8px center;
}
.empty_page .notice {
  margin: 30px 30px 90px 20px;
  padding: 20px;
  font-size: medium;
  width: 100%;
}
.empty_section .notice {
	margin: 20px 0 20px 20px;
	font-size: medium;
}
a.notice {
  display: block;
  text-decoration: none;
  color: #333;
}
a.notice:hover {
  background-color: #ffd;
}

.errorExplanation {
  border: 1px solid #ecc;
  background-color: #fee;
  margin: 12px 0 8px 6px;
  padding: 4px;
}


/* __________________________( Layout )_ */
body {
    margin: auto;
    padding: 0;
    font-family: arial, helvetica, sans-serif !important;
    color: #333;
    font-size: small !important;
    /*border-top: solid 3px #009620;*/
}

#content, #header, #footer {
    margin: 0 auto;
    width: 818px;
}

#content {
  display: block;
  text-align: center;
  clear: both;
  padding-top: 20px;
}

#header {
  background-color: white;
  /*  height: 45px; */
  margin: 0 0 20px 0;
  clear: both;
  text-align: left;
}

#page {
  float: left;
  width: 515px;
  padding: 0 30px 0 0;
	text-align: left;
}

#right {
	margin-top: 0px;
  float: left;
  width: 265px;
	text-align: left;
}

#even_page {
  float: left;
  width: 390px;
  padding: 0 30px 0 0;
	text-align: left;
}

#even_right {
	margin-top: 0px;
  float: left;
  width: 390px;
	text-align: left;
}

#full_page {
  float: left;
  width: 790px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid #bddbe6;
  padding: 10px;
	text-align: left;
}

#full_page_plain {
  float: left;
  width: 818px;
	text-align: left;
}


#right h3 {
  margin: 0 0 5px 0;
}

.wider_content #page {width: 565px;}
.wider_content #right {width: 215px;}
.wider_content #search_box .search_field {width: 470px;}
.full_page #right {display: none}
.full_page #page {width: 100% !important}

.error {
    color: black;
    border: 1px solid #c66;
    padding: 8px 6px;
    margin: 0 0 8px 0;
    background: #fdd;
}

.error li {
    margin-bottom: 6px;
}
.learn_how a {
	display: block;
	margin-top: 25px;
	color: #0099ff;	
}

#lightbox {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: url(images/lightbox_overlay.png);
 filter: alpha(opacity=80);
}
#lightbox[id]{
 position:fixed;
}

/*_________________________( Reset Password Box )_ */
.fp_box {width: 100%; margin: 0 auto !important; padding: 30px 80px 60px 80px; border: 1px solid #ccc;}
.fp_box label {font-weight: bold; padding: 5px 0;}
.fp_box input {margin: 5px 0;}


/* __________________________( Typography )_ */
em {font-style: italic;}
strong {font-weight: bold}
.weak {color: #999}
.block {display: block}
a img {border: none;}
.roll, .submit {
  display: block; text-indent: -500em;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  text-align: left;
}
.roll:hover, .submit:hover {
  background-position: bottom left !important;
}
td, th {vertical-align: top}
.whisper {color: #aaa}
.paragraphs p, p.paragraphs {padding-bottom: 20px;}
.paragraphs ul {list-style-type: disc}
.paragraphs li, .paragraphs ol {margin: 0.5em 0 0.5em 1em;}
.paragraphs ol {list-style-type: decimal}
.clear {clear:both}
.clearfix {
 display:inline-block;
}
.clearfix:after {
 display:block; 
 visibility:hidden; 
 clear:both; 
 height:0; 
 content: "."; 
}
.float_right {float: right;}
.float_left {float: left;}
.invisible {visibility: hidden;}
h2 small {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
h1 small {
    font-size: 14px;
    font-weight: bold;
    color: #999;
}
.emphasis {
	font-weight: bold;
}

/* __________________________( Big Search )_ */
#search_box input.nice {
    width: 425px;
    font-size: large;
    padding: 5px 5px 3px 5px;
    margin: 0 2px 0 0;
    height: 26px;
    border: 1px solid #999;
    background: url(images/input.shadow.white.gif) top left no-repeat;    
}

#submit_search, .submit_search {
    background: url(images/b.search.blue.png);
    width: 74px; height: 34px;
}
#submit_search.gray, .submit_search.gray {
    background: url(images/b.search.gray.png);
}

/*_________________________( Dialog )_ */
#d_overlay {
  position: absolute;
  z-index: 100;
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=60);
  top:0; left:0;
  height: 100%;
  width: 100%
}
#d_contain {
  left: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 100;
}
#d_contain_2{
  width: 600px;
  background-color: #fff;
  border: 6px solid #fff;
  margin: 0 auto;
  position: relative;
  text-align: left;
}
#d_contain_3{
  position: relative; /* for ie6 edification */
  border: 3px solid #2D6993;
  -moz-border-radius: 4px;
}
#d_upper {
  background-color: #2D6993;
  padding: 10px;
  color: white;
}
#d_upper h2 {
  margin:0;
  color: white;
  font-size: x-large;
}
#d_upper small {
  display: block;
  font-size: small;
  font-weight: bold;
}
#d_main {
  padding: 10px;
  text-align: left;
  position: relative;
  background: #fff;
}
.close_dialog {
  display: block; text-indent: -500em;
  height: 13px; width: 13px;
  background: url(images/dialog_close.png) no-repeat;
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
}
#d_main a {cursor: pointer;}
#d_main #new_session, #d_main #new_user {
  margin: 20px 0;
}

/* _______________________( Nice Table )_ */
table.nice {
    border-collapse: collapse;
    border-bottom: 1px solid #bddbe6;
    width: 100%;
}

.nice thead th {
    font-weight: normal;
    padding: 8px;
    border: 2px solid #bddbe6;
    border-width: 2px 0 1px 0;
}

.nice td, .nice th {
    padding: 8px;
    border-top: 1px solid #bddbe6;
}

.nice tbody th {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #eee;
}

.nice td {
    border-top: 1px solid #bddbe6;
}

.nice tr.paragraphs td, .nice tr.paragraphs th {
    border: 0;
}

.nice td i {
    color: #ccc;
    font-style: normal;
}

/* _______________________( Small Table )_ */
table.compact {
    border: 1px solid #bddbe6;
}

.compact thead th {
    background: #bddbe6;
    font-weight: normal;
    padding: 4px 8px;
    border: 1px solid #bddbe6;
    border-width: 1px 0 1px 0;
}

.compact td, .compact th {
    padding: 4px 8px;
}

.compact tbody th {
    font-size: 1.2em;
    background-color: #eee;
}

.compact td {
    border-top: 1px solid #bddbe6;
}

/* _______________________( Nice List )_ */
ul.nice {padding: 6px 0;}
ul.nice li {
	padding: 6px 0;
  border-top: 1px solid #bddbe6;
}


/*________________________ ( Search Results )_ */
#results {margin-top: 15px;}
#results h2.date {
  font-size: 10px; color: #666;
  padding: 0; margin: 1em 0 0.5em 0;
  font-weight: normal;
}
#search_box .search_field {
    height: 20px;
    width: 398px;
    font-size: 14px;
    font-weight: bold;
}

.result {
	vertical-align: middle;
	margin-bottom: 15px;
	position: relative;
}

.result .left_links {
  position: absolute;
  width: 50px;
  left:0;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #666;
  padding: 12px 5px 5px 5px;
}

.result .left_links li {
  padding: 0 0 1em 0;
}

.result .left_links a {
	padding-top: 15px;
	text-decoration: none;
	font-size: smaller;
	display:inline-block;
	vertical-align:middle;
}

.result_info {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 57px;
  font-size: 11px;
  color: #777;
}

.result_upsell {
  padding: 5px 2px 5px 2px;
  margin: 0px 0px 0 0px;
  font-size: 12px;
  text-align: center;
  background: #ffd;
  color: #000;
}


.result h3 {
	font-size: 14px;
	margin: 0 0 10px 0;
}

.result .tagged {
}

.result .actions {
  margin: 1em 0 0 0;
  height: 18px;
}
.result .actions a {
  display: block;
  float: left;
  margin: 0 0 0 4px;
}

.type_map {
	background: url(images/bg.green.top.gif) no-repeat scroll top left;
}

.type_map2 {
	width: 564px;
	background: transparent url(images/bg.green.bottom.gif) no-repeat scroll bottom left;
}

.type_overlay {
	background: url(images/bg.blue.top.gif) no-repeat scroll top left;
}

.type_overlay2 {
	width: 564px;
	background: transparent url(images/bg.blue.bottom.gif) no-repeat scroll bottom left;
}

.type_refinement {
	background: url(images/bg.brown.top.gif) no-repeat scroll top left;
}
.type_refinement2 {
	width: 564px;
	background: transparent url(images/bg.brown.bottom.gif) no-repeat scroll bottom left;
}

.type_incomplete {
		background: url(images/bg.red.top.gif) no-repeat scroll top left;
}

.type_incomplete2 {
	width: 564px;
	background: transparent url(images/bg.red.bottom.gif) no-repeat scroll bottom left;
}


.type_refinement_ol {
	background: url(images/bg.brown_ol.top.gif) no-repeat scroll top left;
}
.type_refinement_ol2 {
	width: 564px;
	background: transparent url(images/bg.brown_ol.bottom.gif) no-repeat scroll bottom left;
}


.rb {
	display: block;
	text-indent: -500em;
	background: url(images/b.results.png) no-repeat 0px 0px;
	height: 18px;
	width: 90px;
}
.result .actions .b_edit, 
.result .actions .b_edit_copy {margin: 0}
.rb.b_edit             {background-position: -415px 0px; width: 55px;}
.rb.b_edit:hover       {background-position: -415px 100%;}
.rb.b_delete           {background-position: -360px 0px; width: 55px;}
.rb.b_delete:hover     {background-position: -360px 100%;}
.rb.b_edit_copy        {background-position: 0 0;}
.rb.b_edit_copy:hover  {background-position: 0 100%;}
.rb.b_view             {background-position: -90px 0;}
.rb.b_view:hover       {background-position: -90px 100%;}
.rb.b_download         {background-position: -180px 0% !important;}
.rb.b_download:hover   {background-position: -180px 100%;}
.rb.b_map              {background-position: -270px 0;}
.rb.b_map:hover        {background-position: -270px 100%;}

.rb.b_select {
  background: url(images/b.results.select.png) no-repeat 0px 0px;
}

.rb.b_no_can_select {
  background: url(images/b.results.no.can.select.png) no-repeat 0px 0px;
}

.rb.b_select.disabled {
  background: url(images/b.results.select.png) no-repeat 0px 0px;
}

.rb.b_analyze {
  background: url(images/b.results.analyze.png) no-repeat 0px 0px;
}

.rb.b_next {
  background: url(images/b.results.next.gif) no-repeat 0px 0px;
}
.rb.b_finish {
  background: url(images/b.results.finish.gif) no-repeat 0px 0px;
}



.b_add_to_map {
  width: 90px; height: 18px;
  background: url(images/b.add_to_map.gif);
}
.result .b_add_to_map.disabled {
  background: url(images/b.results.add_off.gif);
}
.result .b_map.disabled {
  background: url(images/b.results.mm_off.gif);
}

.type_map .rb.b_view {
  background: url(images/b.view.map.gif);
  width: 77px;
}
.type_map .rb.b_view:hover {
  background-position: 0 100%;
}

#about_tags{
  position: relative;
  top: 42px;
  margin: 0 0 2em 0;
}

#tags_list {
  position: relative;
  top: 57px;
  margin: 0 0 4em 0;
}

table.tags {
  width:100%;
}
table.tags td {padding: 0 5px 0 0;}

#sort_results {
  position: relative;
  top: 72px;
  margin: 0 0 1em 0;
}
#sort_results h2 {
  margin: 0 0 0.5em 0;
}

#federations {
  position: relative;
  top: 72px;
  margin: 0 0 1em 0;
}

.rounded_links li .on {
  font-weight: normal;
  background: #eee !important;
}
.rounded_links li a {
  display: inline-block;
  padding: 4px 8px;
  font-weight: normal;
  background: #fff;
  border: 1px solid #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 4px 0;
}
.rounded_links li a:hover {
  background-color: #eee;
}

/* __________________________( Dropdown Menu )_ */
div.menu {
	position: absolute;
	top: 0;
	left: 0;
}
div.menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
}
.menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	list-style-position: outside;
}
.menu.f1 {
  background: #eee;
  padding: 0px 0;
  width: 150px;
  border: 3px solid #fff;
}
.menu.f1 ul {
  padding: 0;
  border: 2px solid #999;
}
.menu.f1 a {
	color: #555;
	padding: 4px 8px;
	margin: 0 0px;
}
.menu.f1 a:hover {
	background: #999;
	color: #fff;
}
.menu.f1 a.disabled {
	color: #bbb;
}
.menu.f1 a.disabled:hover {
	background: #F4F5EB;
	color: #bbb;
}
.menu.f1 .separator {
	border-bottom: 1px solid #fff;
	background: #999;
	margin: 2px 4px;
}


/* __________________________( Common Buttons )_ */
a.b_sign_up {
   background: url(images/b.signup.png) no-repeat;
   width: 95px;
   height: 16px;
   margin:3px 0;
   background-position: left top !important;
   text-indent: -500em;
}
a.b_sign_up:hover {
  background-position: left bottom !important;
}
a.learn_more {
  background: url(images/b.learn.more.png) no-repeat;
  width: 74px;
  height: 16px;
}
a.heart_feedback {
  background: url(images/b.feedback.png) no-repeat;
  width: 96px;
  height: 19px;
}

.submit.save {
  display: block;
  background: url(images/b.save.gif) top left no-repeat;
  width: 95px; height: 36px;
  float: right;
}

.submit.continue {
  display: block;
  background: url(images/b.continue.png) top left no-repeat;
  width: 93px; height: 34px;
  float: right;
}

.submit.back {
  display: block;
  background: url(images/b.back.png) top left no-repeat;
  width: 93px; height: 34px;
  float: right;
}
.submit.restart {
  display: block;
  background: url(images/b.restart.png) top left no-repeat;
  width: 93px; height: 34px;
  float: right;
}

/* __________________________( Footer )_ */
#footer_p {
  margin: 40px 0 0 0;
  width: 100%;
  text-align: center;
  background:
     #e0e9ee
     url(images/bg.unified_footer.png)
     top center repeat-x;
}
#footer {
  text-align: left;
  width: 960px;
  font-size: 11px;
  color: #666;
  padding: 20px 0;
}
#footer .features>li {
  display: block;
  float: left;
  width: 168px;
  margin: 0 0 0 30px;
}
#footer .features>li:first-child {
  margin: 0;
}
#footer li h3 {
  padding: 0 0 4px 0;
}
#footer .features a {
  text-decoration: none;
  color: #387b9e;
  display: block;
  padding: 4px 0 4px 0;
}
#footer li a:hover {
  background: #f5f8f9;
  color: #09608d;
}

.softbox {
  height: 70px;
  background: url(images/box.soft.bottom.png) no-repeat;
}
.softbox_b {
  display: block;
  margin: 0 0 10px 0;
  padding: 7px 10px;
  background: url(images/box.soft.top.png) no-repeat top;
}
.softbox a {
  text-decoration:none;
  color: #666;
}
.softbox h3 a {
  color: #333 !important;
  padding: 0 0 0.2em 0;
} 

.clickit h3, 
.softbox h3 {
  padding: 0 0 0.2em 0;
}
.clickit p {
  padding: 0 0 0.2em 0;
}

#footer .f1foot {
  margin-top: 10px;
  clear: both;
}
#footer .f1foot li {
  float: left;
}
#footer .fortiusone img {
  margin: 4px 10px 0 10px;
}
#footer .textlinks {
  margin: 4px 0;
}
#footer .textlinks a {
  color: #666;
}

.tou_notice {
  margin: 0 0 15px 110px;
  width: 200px;
}

/*________________________ ( Finder Express! )_ */
.finder_express {
  padding: 0 !important;
}
.finder_express {
  z-index: 1000;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.finder_express .fl_r {
  height: 100%;
}
.finder_express .capacity {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.finder_express .pagination {
  position: absolute;
  top: 510px;
  left: 10px;
}
.finder_express .show_restricted {
  position: absolute;
  top: 515px;
  right: 15px;
}
.finder_express .fm_l {
  width: 190px; height: 555px;
  border-right: 1px solid #a7d1eb;
  background-color: #d4e4ee;
}
.finder_express .fm_r {
  width: 584px;
  position: absolute;
  top: 0;
  left: 192px;
  padding: 10px 10px;
}

.finder_express .results {
  position: relative;
  height: 390px;
  overflow: auto;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.finder_express .pending_results {
  display: block;
  position: relative;
}
.finder_express .pending_results img {
  position: absolute;
  top: 10px; right: 10px;
}
.finder_express .search_box {
  width: 584px;
}
.finder_express .ajax_search_form {height: 38px;}
.finder_express .search_box .l {width: 487px; height: 28px;}
.finder_express .search_box .r {width: 84px;}
.finder_express .ajax_indicator {
  background: url(images/fm_loading.gif) no-repeat;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0 0 0 20px;
  color: #004D6B;
}

.about_finder {
  border: 1px solid #ccc;
}
.about_finder_2 {
  padding: 6px 8px 6px 43px;
  margin: 0 0 8px 0;
  background: #ffd url(images/bg.notice.gif) no-repeat 8px 3px;
  margin: 2px;
}
.about_finder h1 {
  font-size: 15px;
  color: #2C7CAA;
  margin-bottom: 0.6em;
}
.about_finder p {
  padding-bottom: 0.8em !important;
}
.about_finder p i {
  color: #999;
}
.finder_express .notice {background-position: 6px 4px}
.finder_express .notice h3 {
  margin-bottom: 6px;
}

.finder_express #details h1 {
  font-weight: bold;
  margin: 10px 0;
}

.finder_express #details .description {
  margin: 10px 0;
}
.finder_express #details .description.with_icon {
  margin: 0;
  width: 384px;
  float: right;
}

.finder_express #details .overlay_icon {
  width: 180px;
  height: 120px;
  margin: 5px;
}

.finder_express #details .finder_link {
  clear: right;
}

.finder_express .instruction {
  background: #feffcb;
  font-weight: bold;
  padding: 9px;
  border: 1px solid #D8DAAC;
  margin: 6px 0;
}

.finder_express .geojoin_continue {
  position: absolute;
  left: 400px;
  top: 50px;
}

.attribute_select {
  clear: left;
}

.attribute_select .r {
  left: 200px;
}

.finder_express .explain {
  position: absolute;
  left: 400px;
  top: 20px;
}
.finder_express .explain p {
  color: #666;
  font-size: 12px;
  margin: 1em 0 0 0;
}
.finder_express .explain p b {
  font-weight: bold;
  color: #333;
}
.finder_express .continue {
  float: none;
}
.finder_express h1 {
  color: #0066cc;
  margin-bottom:2px;
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 16px 0;
}
.finder_express .finder_link {
  margin-bottom: 20px;
}
.finder_express .finder_link a {
  color: #666;
}

ul.select {
  list-style-type: none;
  width: 180px;
  height: 160px;
  border: 1px solid #bbd9ee;
  overflow: auto;
}
ul.select li {
  padding: 5px 10px;
}
ul.select li:hover {
  border: 1px solid #bbd9ee;
  border-width: 1px 0;
  padding: 4px 10px;
}
ul.select li.on {
  background: #cff2fe;
}

.ajax_loading {
	border: 1px solid #ccc;
  padding: 6px 8px 6px 43px; margin: 0 0 8px 0;
  background: #eee url(images/fm_loading.gif) no-repeat 8px center;
}

.geojoin_loading {
  background-image: url(images/notice.loading.gif) !important;
  background-repeat: no-repeat !important;
  background-position: 10px center !important;
  padding-left: 30px !important;
}

#details div.preview label {
  display: block;
  width: 158px;
  background: #bbd9ee;
  padding: 2px 12px;
  font-size: 0.8em;
  font-weight: bold;
}

ul.preview {
  height: 88px;
  background: #eef;
  list-style-type: none;
  width: 180px;
  border: 1px solid #bbd9ee;
  overflow: auto;
}
ul.preview li {
  font-size: 0.8em;
  padding: 2px 10px;
}


/*________________________ ( Modules )_ */

.module_2 {
  position: relative;
  width: 796px;
  background: #fff;
  border: 2px solid #007dad;
  margin: 10px auto 0 auto;
  padding: 0;
  text-align: left;
  overflow:hidden;
}

.modal {
  position:absolute;
  top:50px;
  width: 100%;
  z-index: 110000;
}

.module .module_h {
  background-color: #007dad;
  color: white;
  padding: 3px 10px !important;
  font-weight: bold;
/*  width: 776px;*/
  position: relative;
}
.module .module_close {
  position: absolute;
  top: 4px; right: 8px;
  text-indent: -500em;
  width: 12px; height: 12px;
  background: url(images/fm.close.gif) no-repeat;
}

.module .module_no_close {
  position: absolute;
  top: 4px; right: 8px;
  text-indent: -500em;
  width: 12px; height: 12px;
}

.fm_l {overflow: hidden;}
.fm_l h3 {
  margin: 0; 
  padding: 0 19px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #388fb1;
}
.fm_l ul {
  border: 1px solid #a7d1eb;
  border-width: 1px 0;
  margin: 0px;
  padding: 0px;
}
.fm_l li a {
 line-height: 24px;
 text-decoration: none;
 display: block;
 margin: 0;
 background-color: #e5eff5;
 padding: 0 8px 0 8px;
}
.fm_l li a:hover, .fm_l li a.on {
  background-color: white;
  color: #00306b;
}
.fm_l li a:active {
  background-color: white;
}
.fm_l li .top {
  border-bottom: 1px solid #a7d1eb;
  font-weight: bold;
}

.module .pagination a {
  border: 1px solid #a7d1eb;
  color: #007dad;
}
.module .pagination a:hover, .pagination a:active {
  border: 1px solid #007dad;
  color: #000;
}
.module .pagination span.current {
  border: 1px solid #007dad;
  background-color: #007dad;
  color: #FFF;
}
.module .pagination span.disabled {
  border: 1px solid #eee;
  color: #ddd;
}

.module .pagination span.info {
  padding: 2px 5px;
}



/*________________________ ( January 2010 Uploader )_ */

.upload_top {
  position: relative;
  background: url(images/upload.box.top.png);
  margin: 0 0 0 -4px;
  height: 29px;
  padding-top: 10px;
}
.upload_top label {
  padding: 0 0 0 18px;
  font-weight: bold;
  color: white;
  font-size: 17px;
  text-shadow: 1px 1px 2px #047cb0;
}
.upload_top .back {
  position: absolute;
  top: 11px;
  right: 18px;
  height: 19px;
  display: block;
  text-indent: -500em;
  background: url(images/upload.back.png) no-repeat;
  width: 115px;
}

.upload {
  position: relative;
  width: 511px;
  margin: 0 0 0 -4px;
  background: url(images/upload.box.sides.png) left;
  padding: 0 4px;
}
.upload_bottom {
  position: absolute;
  width: 521px;
  height: 12px;
  left: 0px;
  bottom: 0px;
  background: url(images/upload.box.bottom.png);
}

.upload .choices {
  width: 250px;
}
.upload .choice {
  background: url(images/upload.box.options.png) repeat-y;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: block;
}
.upload .choice:hover {
  display: block;
  background: url(images/upload.option.selected.png) 0 50% repeat-y;
}
.upload .choice a {
  display: block;
  background: url(images/upload.arrow.png) 15px 50% no-repeat;
  padding: 30px 0 30px 62px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #fff;
  text-decoration: none;
  color: black;
}
.upload .choice small {
  font-size: 12px;
  display: block;
}

.upload .upload_body {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.upload .panes {
  width: 4000px;
}

.upload .pane {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 508px;
  background: white;
}

.upload .pane_header {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #f6f6f6;
  width: 494px;
  padding: 5px 0px 0px 17px;
  position: relative;
}
.upload .pane_header h2 {
  font-size: 14px;
  color: black;
  text-shadow: 1px 1px 0px white;
  color: #333;
}
.upload .pane_header h2 small {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.upload .pane_header_right {
  position: absolute;
  top:0; right: 0;
  padding: 8px 20px 0 0;
  font-size: 12px;
}
.upload .pane_footer {
  padding: 0 15px;
  position: relative;
  height: 25px;
}
.upload .pane_footer_right {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 15px;
  height: 24px;
  width: 67px;
}

.upload .pane_footer_center {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 98px;
  padding: 5px;
  width: 300px;
  font-size: 12px;
  color: #666;
}

/*________________________ ( Uploadify )_ */

a.uploadify_cajson.aaData is undefinedl {
  text-decoration: none;
}
a.uploadify_cancel:hover {
  text-decoration: underline;
}
a.uploadify_next {
  background: url(images/upload.next.png);
  height: 24px;
  width: 67px;
}
a.uploadify_next.off {
  background: url(images/upload.next.off.png) !important;
  cursor: default;
}
img#add_file_off {
  position: absolute;
  left: 15px;
  top: 0px;
}

.upload .hover_info {
  position: absolute;
  top: 0px;
  left: 250px;
  float: right;
  width: 200px;
  padding: 15px 30px;
}
.upload .hover_info h3 {
  margin: 0 0 1em 0;
}
.upload .hover_info p {
  padding: 0 0 1em 0;
}

.upload #file_queue {
  margin: 10px 15px;
  border: 1px solid #ccc;
  padding: 0px;
  height: 153px;
  overflow: auto;
}
.upload #file_queue .cancel {
  display: none;
}

#upload_clue {
  position: absolute;
  bottom: 24px;
  left: 8px;
}
.clue_ll {
  width: 146px;
}
.clue_ll_top {
  color: white;
  font-weight: bold;
  font-size: 11px;
  text-shadow: 1px 1px 0px #409626;
  padding: 12px 10px;
  background:url(images/clue.ll.top.png) no-repeat;
}
.clue_ll_bottom {
  background:url(images/clue.ll.bottom.png) bottom left no-repeat;
  height: 20px;
}

.uploadifyQueueItem {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 5px;
}

.upload #file_queue .complete {
	background-color: #dcf6e0;
}
.upload #file_queue .processing {
	background-color: #fffdc8;
}
.upload #file_queue .processing img {
  vertical-align: text-top;
  margin: 0 5px 0 0;
	background-color: #fffdc8;
}
.upload #file_queue .complete .percentage,
.upload #file_queue .complete .cancel,
.upload #file_queue .complete .uploadifyProgress {
  display: none;
}
.upload #file_queue .status {
	float: right;
}

.uploadifyError {
  border: 2px solid #fbcbbc !important;
  background-color: #fde5dd !important;
}
.uploadifyQueueItem .cancel {
  float: right;
}
.uploadifyProgress {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
  width: 100%;
}
.uploadifyProgressBar {
  background-color: #0099ff;
  width: 1px;
  height: 8px;
}

.pane_url form {
  margin: 30px;
}
.pane_url h3 {
  margin: 0 0 0.5em 0;
}

#get_flash {
	padding: 5px 15px;
}

/* __________________________( Raging Clues )_ */
.raging_clue {
  position: relative;
  width: 135px;
  padding-top: 4px;
  background: url(images/clue.top.png) no-repeat;
}
.raging_clue_inner {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 15px 15px 15px;
  background: url(images/clue.bottom.png) no-repeat bottom;
}
.raging_clue.arrow_left .arrow {
  position: absolute;
  left: -18px;
  background: url(images/clue.left.png) no-repeat;
  width: 24px;
  height: 43px;
}
.raging_clue.arrow_right .arrow {
  position: absolute;
  right: -18px;
  background: url(images/clue.right.png) no-repeat;
  width: 24px;
  height: 43px;
}
.raging_clue.arrow_up .arrow {
  position: absolute;
  top: -20px;
  left: 10px;
  background: url(images/clue.up.png) no-repeat;
  width: 43px;
  height: 24px;
}
.raging_clue.arrow_down .arrow {
  position: absolute;
  bottom: -16px;
  left: 42px;
  background: url(images/clue.down.png) no-repeat;
  width: 43px;
  height: 24px;
}
.raging_clue.and_right .arrow { right: 10px; left: auto;}
.raging_clue.and_left .arrow  { left : 10px; right: auto;}

/*_________________________( tabs )_ */
#tabs{
  padding: 1em 0 0 0;
}

ul.tabs {
  text-align: left;
  margin: 1em 0 1em 0;
  border-bottom: 1px solid #a8dbee;
  list-style-type: none;
  padding: 0 0 6px 0;
  height: 15px;
}

ul.tabs.no_border {
  text-align: left;
  margin: 1em 0 1em 0;
  border-bottom: 0px solid #a8dbee;
  list-style-type: none;
  padding: 0 0 6px 0;
  height: 1px;
}

.tabs li {
  /*float:left;*/
  display: inline;
}
.tabs .tab {
  letter-spacing: 1px;
  position: relative;
  top: 1px;
  color: #333;
  border: 1px solid #a8dbee;
  border-bottom: none;
  padding: 4px 16px;
  margin: 0 0 0 5px;
  background: url(images/bg.tab.gif) repeat-x;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.tabs .tab.right{
  position: absolute;
  float: right;
  top:-5px;
  right: 0;
}

.tabs a.tab {
  color: #666;
  margin-right: 0px;
  text-decoration: none;
}

.tabs .tab.on {
  font-weight: bold;
  top: -2px;
  padding: 9px 16px;
  background-color: #fff;
  position: relative;
}

.tabs .tab.on.right{
  position: absolute;
  float: right;
  top: -14px;
  right: 1;
  font-weight: bold;
}

.tabs .tab.on a {
  background-color: #fff;
  color: #000;

}

a.tab:hover {
  border-color: #389dc3;
}


/*_________________________( groups )_ */


#groups {
  margin: 0 0 0 50px;
}

#groups .everyone {
  font-weight: bold;
  width: 100%;
  margin: 1em 0 1em 0;
}
#groups .everyone th {
  font-weight: bold;
  border: 0 !important;
  padding-left: 0 !important;
}
#groups .everyone td {
  text-align: right;
  width: 60px;
  border: 0 !important;
}


#groups .only {
  display: block;
  font-weight: bold;
  margin: 0.5em 0;
}

#groups .permissions {
  width: 100%;
  border: 1px solid #ccc;
  height: 150px;
  overflow: auto;
}
#groups .permissions .empty {
  font-style: italic;
  padding: 8px;
  color: #999;
}
#groups .permissions table {
  width: 100%;
}

.filter_box .filter_box2 {
  padding: 5px 10px;
}
.filter_box {
  position: relative;
  width: 100%
}
.filter_box label {
  float: left;
  margin: 6px 5px 0 0;
}
.filter_box #group_filter {
  width: 150px !important;
  float: left;
}
.filter_box .submit_search {
  background: url(images/b.filter_search.png);
  float: left;
  width: 55px;
  height: 18px;
  margin: 4px 0 0 4px;
}
.filter_box .spinner {
  float: left;
  margin: 5px 0 0 5px;
}
.filter_box .back {
  position: absolute;
  top: 15px;
  right: 5px;
}

#groups .group {
  width: 100%;
}
#groups .group th, #groups .group td {
  padding: 5px 5px;
  border-bottom: 1px solid #ccc;
}
#groups .group td {
  width: 50px;
  text-align: right;
}
#groups .group td.download {
  width: 80px;
}


#group_finder {
  background-color: #d5eaf4;
  padding: 10px 0 10px 0;
  border: 1px solid #ccc;
  border-width: 0px 1px 1px 1px;
  width: 100%;
}
#group_finder .results {
  background: white;
  border: 1px solid #ccc;
  height: 150px;
  margin: 0 10px;
  overflow: auto;
  position: relative;
}

#group_finder .message {
  font-size: 0.8em;
  background-color: #ffc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

#group_finder table.group_list {
  width: 100%;
}
#groups .group_finder_results {
  position: relative;
  overflow: auto;
  height: 150px;
  width: 100%;
}



/*_________________________( visualizations )_ */

#visualizations {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 0%;
	z-index: 700;
}

.visualization {
  position: absolute;
  background: #fcfcfc;
  border: 1px solid #467929;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
	z-index: 700;
}

.visualization .vis_header {
  font-weight: bold;
  color: white;
  height: 15px;
  border-style: none none solid none;
  padding: 4px 5px;
	position: relative;
	overflow: hidden;
}

.visualization .vis_header p {
	float: left;
}

.visualization .visualization_object {
}

#visual_creator {
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 999;
}

#visual_creator_panes {
  margin-top: 22px;
  width: 4000px;
}

#visual_creator_panes .pane {
	position: absolute;
	overflow: auto;
	left: 498px;
	width: 468px;
	height: 242px;
	padding: 0 15px 0 15px;
}

.visual_creator_form {
	position: relative;
	text-align: center;
}

#visual_creator_form p {
  margin: 0 0 0.5em;
}

#visual_creator p.selections {
  font-size: 13px;
  margin: 12px 0px;
}

#visual_creator p.selections .whisper {
  font-size: .9em;
}


#visual_creator .breadcrumb_tabs {
  background:url("images/viz.nav.bg.png") repeat-x scroll 0 -0px;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  font-size: 13px;
  height: 26px;
  top:0px;
  left:0;
  position:absolute;
  width:100%;
}

#visual_creator .breadcrumb_tabs ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0 0 0 10px;
  height: 26px;
  position: relative;
}

#visual_creator .breadcrumb_tabs li {
  position: absolute;
  top: 0;
  width: 126px;
  line-height: 26px;
  font-size: 13px; 
  text-align: center;
  color: #999;
  padding: 0px 0 !important;
  margin: 0;
  background: url(images/viz.nav.button.bg.png) 0 0 no-repeat;
}
.breadcrumb_tabs .chart { left: 126px; }
.breadcrumb_tabs .data { left: 242px; }
.breadcrumb_tabs .describe { left: 358px; }


#visual_creator .breadcrumb_tabs li.enabled {
  color: #000;
  font-weight: bold;
  cursor:pointer;
}

#visual_creator .breadcrumb_tabs li.active {
  background-position: 0 -26px;
  z-index: 1000;
  color: black;
  font-weight: bold;
}

#visual_creator #chart_title {
	width: 462px;
}

#visual_creator #chart_style_description {
  width: 465px;
  height: 125px;
}

#visual_creator .pane h1 {
	font-size: 1.7em;
	margin: 10px 0px 0px 0px;
}

.visualization_preview {
	background:none repeat scroll 0 0 white;
	border:2px solid #ccc;
	border-style: solid solid solid none;
	left:502px;
	margin:0 0;
	padding:5px;
	position:absolute;
	text-align:left;
	top:180px;
	z-index: 1002;
	width: 300px;
	height: 200px;
	overflow: hidden;
}

#visual_creator_form_preview {
}

.visualization_back {
	height: 100%;
	width: 100%;
}

.visualization_back h1 {
	margin-bottom: 5px;
}

.visualization_back h1 a {
	font-size: .8em;
	color: #009620;
	text-decoration: none;
}

.visualization_back div {
	overflow: auto;
	height: 100%;
	width: 100%;
	padding: 5px;
}

.visualization_back p {
	margin-bottom: 5px;
}

.blurred_input {
	font-style: italic;
	color: #999;
}

.cover_div {
	height: 100%;
	width: 100%;
	position:absolute;
	opacity: 1;
	left: 0px;
	top: 0px;
	background: white url(images/ajax_loader_bar.gif) no-repeat center center;  
	z-index: 1010;
}

.cover_div h1 {
  position:absolute;
  text-align:center;
  top: 114px;
  margin: 0 auto;
  color: gray;
  font-size: 12px;
}

.loading_div {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  left: 0px;
  top: 0px;
  background: black;
  z-index: 1011;
}

.loading_div_inner {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 40%;
  height: 50px;
  width: 235px;
}

.loading_div h1 {
  border: 1px solid #333;
  background: white url(images/ajax_loader_bar.gif) no-repeat center center;
  padding: 10px;
}
  

.chart-icon {
	float: right;
}

.chart_info {
}

.delete_chart {
}

.chart-icon:hover span {
	background-color: #ccc;
}

#overlay_selection {
	list-style-type: none;
	font-size: 1.1em;	
}

#overlay_selection li {
	padding: 5px;
	border: 1px solid #999;
	background-color: #fafafa;
	font-weight: bold;
}


#visual_creator .layer_selection {
}

#visual_creator .overlays_list {
	margin-left: 15px;
	overflow: auto;
}

#visual_creator li.layer_select {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 10px;
}

#visual_creator li.layer_select:hover {
	border-color: #a6ce98;
  padding: 9px;
  border-width: 2px;
}

#overlay_selection li.selected {
	background: #ccffcc;
}


#visual_creator li.layer_select span {
  display: block;
  width: 340px;
  float: left;
}

#visual_creator li.layer_select a {
	color: #00306B;
	text-decoration: none;
  float: right;
}

#visual_creator #chart_selection {
  list-style-type: none;
}

#visual_creator #chart_selection li {
  position: relative;
  background: url(images/viz.icon.shadow.png) no-repeat;
  float:left;
  height: 85px;
  margin: 5px 0px 5px 0;
  text-align:center;
  vertical-align:middle;
  width:150px;
  cursor:pointer;
  border: 0;
}
#visual_creator #chart_selection li:hover, #visual_creator #chart_selection li.selected {
  background-position: 0 -84px;
}
#visual_creator #chart_selection li img {
  position: absolute;
  top:  9px;
  left: 9px;
}

#visual_creator #chart_selection li span {
  color: black;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 63px;
  width: 142px;
  line-height: 18px;
  background-color: #eff9fb;
  opacity: 0.95;
}

.ui-resizable-helper { border: 2px dotted #007DAD; }

.grid_chart {
  overflow: auto;
  font-size: 10px;
  background-color: white;
  position: relative;
}
.grid_chart table {
  border-collapse: collapse;
	margin: 5px;
}
.grid_chart td, .grid_chart th {
  overflow: hidden;
  border: 1px solid #eee;
  padding: 0.4em 0.5em;
}
.grid_chart th {
  border: 1px solid #ddf;
  background-color: #edf7fa;
}

.grid_chart th .column_title {
	padding-right: 16px;
}

.grid_chart tr.hovering {
	background: #ddd;
}

.grid_chart tr.selected {
	background: #D1F3D6;
}

.grid_chart .load_link {
	font-size: 1em;
}

.visual_creator_dialog {
	color: red;
}

.visual_creator_dialog .ui-dialog-buttonpane {
	margin-top: 0px !important;
	text-align: center !important;
}

.visual_creator_dialog .ui-dialog-buttonpane button {
	float: none !important;
}

/*_________________________( Tablesorter )_ */
.grid_chart th.headerSortDown, .grid_chart th.headerSortUp {
	background-color: #D1F3D6;
}

.sort_icon {
	background: transparent url("images/ui-icons_222222_256x240.png") no-repeat scroll;
	background-position:-128px -16px;
	position: absolute;
	right: 0px;
	top: -2px;
	height: 16px;
	width: 16px;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}

.headerSortDown .sort_icon {
	background-position:0px -16px;
}

.headerSortUp .sort_icon {
	background-position:-64px -16px;
}


/*_________________________( Jquery UI Overrides )_ */
.ui-corner-all {
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
}
.ui-widget-header {
  border: none !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
}
.ui-dialog {
  padding: 0 0 3px 0 !important;
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.ui-shadow {
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.ui-dialog .ui-dialog-buttonpane { 
  padding: 0 10px 0 15px !important;
}

/* to fix a rounding error: */
.ui-dialog .ui-dialog-titlebar { 
  padding: 6px 3px 3px 13px !important; 
}

/*_________________________( admin )_ */

#admin_top_right{
  width: 375px;
  height: 145px;
  float: right;
}

#admin_top_left{
  width: 375px;
  height: 145px;  
  float: left;
}

#admin_bottom_right{
  width: 375px;
  float: right;
  margin-top: 15px;
}

#admin_bottom_left{
  float: left;
  width: 375px; 
    margin-top: 15px; 
}

.admin_action {
  font-family: arial, helvetica, sans-serif;
  background: #bddbe6;
  height: 25px;
  width: 100%;
  margin: 0 0 5px 0;
}

.admin_action a {
  float: left;
  display: block;
  padding: 5px 8px;
  margin: 0 4px 0 0;
  color: #434830;
  text-decoration: none; 
  font-weight: bold;
}

.admin_action a:hover {
  background-color: #bddbe6 !important;
  color: white;
}

.admin_section_header h1{
  margin-top: 15px;
}

.cb_list {
  border: 1px solid #ddd;
  margin: 1em 0 1em 2em;
  width: 300px;
}
.cb_list li {
  padding: 0.3em 0
}
table td .loading {width: 16px; height: 16px; display: block; background: url('images/tiny_spin.gif') no-repeat;}
table td .success {background: green; color: white; padding: 3px; font-weight: bold;}
table td .fail {background: maroon; color: white; padding: 3px; font-weight: bold;}

/* _____________________________( Two Pane )_ */
.twopane {
  margin: 15px 0 15px 0;
}
.pane_left, .pane_right {
  position: relative;
  margin: 3px 0 0 0;
}
.pane_buttons {
  margin: 0 16px;
  padding: 40px 0 0 0;
}
.pane_buttons .button {
  width: 60px;
}
a.button {
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  text-decoration: none;
  background-color: #eee;
  color: black;
}
a.button:hover {
  background-color: #ccc;
  color: black;
}

/*_________________________( Big Search )_ */

#big_search {
  background: url(images/bg.big_search.png);
  height: 59px;
  margin: 10px 0 0 0;
  padding: 20px 0 28px 0;
}
.big_search {
  text-align: left;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#big_search form {
  position: relative;
  background: url(images/bg.white_search.png) no-repeat;
  width: 529px;
  height: 41px;
  padding: 9px 13px;
}
#big_search form #submit_search {
  position: absolute;
  right: 13px;
  top:9px;
  height: 41px;
  width: 87px;
  background: url(images/b.search_grey.png);
}

#big_search input.nice {
  width: 420px;
  font-size: large;
  font-weight: bold;
  padding: 5px 5px 3px 5px;
  margin: 0 2px 0 0;
  height: 32px;
  border: 1px solid #000;
  background: url(images/input.shadow.white.gif) top left no-repeat;    
}
#big_search .actions {
  width: 363px;
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
}
#big_search .big_make_map {
  width: 171px;
  float: right;
  text-align: center;
}
#big_search .big_upload_data {
  width: 171px;
  float: left;
  text-align: center;
}
.big_make_map a, .big_upload_data a {
  text-decoration: none;
  color: #333;
  font-size: 11px;
  display: block;
}
#big_search .b_make_map {
  background: url(images/b.map_grey.png);
  width: 171px;
  height: 50px;
  margin-bottom: 2px;
}
#big_search .b_upload_data {
  background: url(images/b.upload_grey.png);
  width: 171px;
  height: 50px;
  margin-bottom: 2px;
}

/* classfication */
#classification_header, #classification_footer, #data_classification_header {
  width: 818px;
  margin: 5px auto;
  padding: 0;
  color: #888;
  font-size: 11px;
  text-align: center;
}

#classification_header .classification_banner, #classification_footer .classification_banner, #data_classification_header span {
  width: 100%; height: 100%;
  position: relative;
  display: block;
  padding: 5px 0;
}
/* the above div needs to be relative so we can center the classifaction block in it; however, for maps, we
  already have a relatively positioned parent div (map_footer), and making the banner relative covers up the map link,
  so here we change it back to static */
#map_footer #classification_footer .classification_banner {
  position: static;
}
#classification_footer .classification_banner span {
  display: block;
  position: absolute; left: 50%; top: 5px;
  margin-left: -250px;
  width: 500px;  
}

.full_flash #classification_header, .full_flash #classification_footer, .full_flash #data_classification_header {
  border: 0;
  margin: 0;
  width: 100%;
}

/*_________________________( Expert )_ */
#expert {
  position: relative;
}

#expert .dataset_select {
  display: block;
  background: url(images/bar.shiny_blue.r.png) top right no-repeat;
  width: 557px;
  padding-right: 7px;
  text-decoration: none;
  color: white;
  position: relative;
  margin-bottom: 10px;
}
#expert .dataset_select2 {
  display: block;
  background: url(images/bar.shiny_blue.l.png) top left no-repeat;
  padding: 13px 80px 12px 15px;
  font-size: 14px;
  font-weight: bold;
}
#expert .dataset_select .change {
  position: absolute;
  top: 11px; right: 15px;
  display: block;
  width: 62px;
  height: 20px;
  background: url(images/b.refine.change.png);
}

#expert .controls .dataset_select {
  width: 525px;
}

#expert .refinement {
  background: url(images/bg.expert.refinement.top.png) no-repeat;
}
#expert .refinement2 {
  background: url(images/bg.expert.refinement.bottom.png) bottom left no-repeat;
}

#expert .refinement.selected {
  margin-bottom: 0;
}
#expert .refinement.selected .b_select {
  display: none;
}
#expert .refinement.selected .refinement2 {
  background: none;
}

#expert .choices {
  width: 564px;
}
#expert .choice.refinement {
  min-height: 70px;
}
#expert .choice.refinement  .icon {
  position: absolute;
  top: 0; left: 0;
  margin: 5px 0 0 8px;
}
#expert .choice.refinement  .result_info {
  margin-left: 74px;
}

#expert .more_refinements {
  background: url(images/b.refine.library.png);
  height: 24px;
  width: 144px;
  float:right;
}

#expert .build {
  background: url(images/b.refine.build.png);
  height: 24px;
  width: 105px;
  float:right;
  margin-right: 10px;
}


#expert .controls {
  width: 532px;
  border: 1px solid #aeaeae;
  padding: 15px 15px;
  background: url(images/bg.gray_fade.png) top repeat-x;
}
#expert .choice .whisper {
  display: block;
  font-size: 12px;
  color: #999;
  margin: 4px 0 0 0;
}

#expert .actions {
  height: 24px;
}
#expert .actions a {float: right;}
#expert .actions .expert_submit {
  background: url(images/b.refine.create.png);
  height: 24px; width: 75px;
}
#expert .actions .back {
  background: url(images/b.refine.back.png);
  height: 24px; width: 75px;
  margin: 0 5px 0 0;
}

#expert fieldset.boundary .dataset_select {
  margin: 0 0 2px 0;
}
#expert fieldset.boundary .whisper {
  margin: 0 0 0 10px;
}

#expert h3.flippy {
  margin: 0 0 1em;
}

#expert .refiner_step {
  margin: 0.5em 2em 2em 4px;
}

#expert .flippy_step .parameter {
  margin-left: 2em;
}
#expert .flippy_step .parameter.dataset, #expert .flippy_step .parameter.boundary {
  margin-left: 0 !important;
}

.refiner_step_refinement .refinement {
  margin: 1em 2em 2em 2em;
}

#expert h3 {
  color: #000;
}
#expert h3.primary_instruction {
  margin: 1.5em 0 5px 0;
}
#expert h3.primary_instruction.first {
  margin-top: 0 !important;
  margin: 0 0 5px 0 !important;
}
#expert .choose_refinement {
  position: relative;
  height: 30px;
  margin: 20px 0 0 0;
}
#expert .refinement_actions.upper {
  position: absolute;
  top: 0; right: 0;
}
#expert h3.num {
  background: url(images/g.circle_nums.png) no-repeat;
  height: 22px;
  line-height: 22px;
  padding-left: 30px;
}
h3.num2 {background-position: 0 -75px !important;}
h3.num3 {background-position: 0 -151px !important;}
h3.num4 {background-position: 0 -226px !important;}
h3.num5 {background-position: 0 -301px !important;}
h3.num6 {background-position: 0 -376px !important;}
h3.num7 {background-position: 0 -451px !important;}
h3.num8 {background-position: 0 -526px !important;}
h3.num9 {background-position: 0 -601px !important;}


#expert .loading_bg {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.7;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 1011;
}
#expert .loading_container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2000;
}
#expert .loading_panel {
  position: absolute;
  z-index: 2000;
  margin: 0 auto;
  text-align: center;
  top: 20%;
  left: 30%;
  height: 50px;
  width: 235px;
  border: 1px solid #999;
  background: white url(images/ajax_loader_bar.gif) no-repeat center 30px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}

#expert .array_add {
  background: url(images/b.refine.add.png);
  width: 75px; height: 24px;
}

#expert .array_remove {
  background: url(images/b.refine.remove.png);
  width: 75px; height: 24px;
}

#expert fieldset label {
  float: left;
  text-align: left;
  margin: 0 15px 0 0;
  width: 140px;
}
#expert fieldset label.full {
  float: none;
}
#expert .hint {
  color: #666;
  margin: 5px 0 5px 155px;
}

#expert .hint.left, .hint_left {
  margin-left: 0 !important;
  display: block;
  float: none;
}

#expert .array_item {
  background: #D2EAF6;
  padding: 10px 10px;
  margin: 5px 0 10px 0;
}

#expert .buffer label {
  width: 50px;
}
#expert .buffer .hint {
  margin-left: 65px;
}
#expert .buffer_intersect label {
  width: 50px;
}
#expert .buffer_intersect .hint {
  margin-left: 65px;
}
#expert .difference label {
  width: 160px;
}
#expert .difference .hint {
  margin-left: 170px;
}

#expert .residual label {
  width: 190px;
}
#expert .residual .hint {
  margin-left: 200px;
}


#expert .correlation label {
  width: 190px;
}
#expert .correlation .hint {
  margin-left: 200px;
}

#expert td fieldset {margin: 0 !important;}
#expert td .hint {margin-left: 0 !important;}
#expert th {font-size: 12px;}


/*_________________________( Refinements/Show )_ */
.refine_bulit_in h1 {
  font-size: 28px;
  margin-bottom: 0;
}

.refine_bulit_in h3 {
  margin-top: 1em;
}
.refine_bulit_in .dataset_actions {
  float: right;
}
.refine_bulit_in .refinement_video {
  width: 100%;
  background: #999;
  text-align: center;
}
.refine_bulit_in .refinement_short_description {
  font-size: 16px;
  color: #666;
  margin-bottom: 1em;
}
.refine_bulit_in .paragraphs {
  margin: 0 200px 0 0;
}