    <ul>
      <li class="draggable_tab"><a href="#tab_article">Article</a></li>
      <li class="draggable_tab"><a href="#tab_comments">Comments <span class="count">(##)</span></a></li>
      <li class="draggable_tab"><a href="#tab_slides">Slides</a></li>
    </ul>

    <div id="tab_article" class="tab_article">
      <div id="articles" class="articles_list">
        <dl>
        <% @articles.each do |article| %>
          <dt><%= article.title %></dt>
          <dd><%= article.text %></dd>
        <% end %>
        </dl>
      </div>
    </div>